

.counter-box{
  flex:1;
  text-align:center;
}

.counter-box h3{
  font-size:28px;
  margin:0;
  color:var(--accent);
}

.counter-box p{
  margin:0;
  font-weight:600;
  text-transform: capitalize;
  font-size: 21px;
}
.mamber {
    font-size: 25px;
    text-transform: capitalize;
    text-align: center;
}
.memberbtn {
    text-align:center;margin-top:12px;
}
.memberbtn a {
    background:var(--accent);color:#fff;padding:10px 16px;border-radius:10px;text-decoration:none;font-weight:700;text-transform: capitalize;
}
.memberbtn a:hover {
    background-color: rgba(0, 128, 0, 0.515) ;
}
.feedback-slider{
  display:flex;
  overflow:hidden;
  position:relative;
  width:100%;
}

.feedback{
  width:100%;
  min-width:100%;
  transition:transform .5s ease;
}

.slider-btn{
  padding:6px 14px;
  margin:0 6px;
  background:#eee;
  border:1px solid #ccc;
  border-radius:6px;
  cursor:pointer;
}

.main-contenttext {
  position: relative;
  background: #d6ffad;
  padding: 50px 20px;
  border-radius: 20px;
  text-align: center;
}

/* FLOATING CENTER TITLE */
.why-title {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ff7b00;
  color: #fff;
  padding: 10px 25px;
  border-radius: 12px;
  font-weight: 700;
  font-size: 1.1rem;
  z-index: 3;
}

/* Feature grid */
.main-feature {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  margin-top: 40px;
}

.feature {
  text-align: center;
}

.feature i {
  font-size: 40px;
  color: #ff7b00;
}

.feature h4 {
  margin: 10px 0;
  color: #ff6b00;
}

/* Button */
.contentbtn a {
  display: inline-block;
  background: #ff7b00;
  padding: 10px 25px;
  color: white;
  border-radius: 10px;
  font-weight: 600;
  margin-top: 25px;
}
